
body, header, div, h1, nav, ul, li, a, p {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-size: 100%;
    
}

html {
    width: 1100px;
    background-color: black;
}


.container {
    width: 900px;
    Height: 482px;
    background-color: #121214;
    margin: 0 auto;
    margin-top: 80px;
    margin-left: 173px;
}

.header {
    height: 67px;
    padding-left: 296px;
    padding-bottom: 30px;
}

.header img {
    width: 200px;
    padding-top: 20px;
    padding-left: 23px;
}

.header h2 {
    color: white;
    font-size: 32px;
    font-family: 'IBM Plex Sans', sans-serif;
}


.img-user {
    display: flex;
    justify-content: center;
    padding-top: 80px;

}


.img-user li {
    width: 130px;
    height: 204px;
    border: 3px solid transparent;

}


.fig-user {
    overflow: hidden;
    margin: 0px;
    border: 3px solid transparent;
    padding-bottom: 5px;
    border-radius: 10px;

}

.fig-user:hover {
    border: 3px solid white;

}


.fig-user img {
    border: 3px solid transparent;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;

}

.fig-user img:hover {
    transform: scale(1.3);

}

        .img-user .a {
            color: white;
            font-size: 14px;
            font-family: 'IBM Plex Sans', sans-serif;
            padding-left: 60px;
        }

        .img-user .p {
            color: white;
            font-size: 16px;
            font-family: 'IBM Plex Sans', sans-serif;
            padding-left: 40px;
        }

        .img-user .j {
            color: white;
            font-size: 14px;
            font-family: 'IBM Plex Sans', sans-serif;
            padding-left: 55px;
        }

        .img-user .add {

            color: white;
            font-size: 14px;
            font-family: 'IBM Plex Sans', sans-serif;
            padding-left: 24px;
        }


.g-perfil {
    text-align: center;
    width: 150px;
    margin:0 auto;
    border: 3px solid white;
    border-radius: 8px;
    padding: 8px;
    color: white;
    
}

.g-perfil:hover {
    background: white;
    color: black;
    cursor: pointer;
}
